* {
	word-wrap:break-word;
}

body {
	min-height: 100vh;
}
#retry, #success {
	position: fixed;
	top: 4.5em;
	right: 1em;
	transition: all .2s ease-in-out;
	z-index: 1000;
}

body {
	background-color:#e9edf0;
}

#comments-div {
	margin-bottom:24px;
}

.comment {
	transition: all .2s ease-in-out;
}

.comment-reply {
    margin-left:20px !important;
}

.comment-reply-link, .comment-edit-link, .comment-delete-link, .comment-report-link, .comment-reports-link {
	padding:1px;
	transition: all .2s ease-in-out;
}

.comment-reply-link:hover, .comment-edit-link:hover, .comment-delete-link:hover, .comment-report-link:hover, .comment-reports-link:hover {
	transform: scale(1.2);
}

@media all and (max-width: 1024px) {
	table, tr, td, tbody {
		width:100% !important;
		display: block;
		border: none;
	}
	thead {
		display:none;
	}
	table {
		border: solid black 1px;
	}
	tr {
		border-bottom: solid black 1px;
	}
}